<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <title>MercadoLiebre</title>
</head>
<body>
            <header class="container-header">
            <div class="header-logo-input">
                <img class="header-logo" src="/img/logo-mercado-liebre.svg" alt="Logo marca">    
                    <div class="header-buscador">
                        <input class="header-barrabusqueda" type="search" name="buscador"/>
                        <i class="fas fa-search"></i>
                    </div>
            </div>
                <p class="header-descripcion">Comprá en cuotas y sin tarjeta de crédito</p>
                <div class="icono-menu"><i class="fas fa-bars imenu"></i></div>
        </header>
    <main>    
        <section>
            <ul class="lista">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul><br>
            <ul class="lista">
                <li><a href="/registro">Creá tu cuenta</a></li>
                <li><a href= login.html>ingresa</a></li>
                <li>Mis compras</li>
            </ul>
    </section>
<section>
    <img class="banner" src="/img/img-home-banner.jpg" alt="Banner">
</section>

<section class="container-ultima-visita">
<div><p class="ultima-visita-titulo">Basado en tu última visita</p></div>
    <div class="container-ultima-visita-producto">
        <img src="/img/img-cafetera-moulinex.jpg" alt="" width="100%">
        <p class="precio">$ 6.770 <span class="off">20% OFF</span></p>
        <article class="producto">Cafetera Moulinex Dolce Gusto</article>
    </div>
    <div class="container-ultima-visita-producto">
        <img src="img\img-macbook-pro-2019.jpg" alt="" width="100%">
        <p class="precio">$ 230.000 <span class="off">20% OFF</span></p>
        <article class="producto">Macbook Pro 2019</article>
    </div>
    <div class="container-ultima-visita-producto">
        <img src="img\img-samsung-galaxy-s10.jpg" alt="" width="100%">
        <p class="precio">$ 70.500 <span class="off">15% OFF</span></p>
        <article class="producto">Teléfono móvil Samsung Galaxy S10</article>
    </div>
    <div class="container-ultima-visita-producto">
        <img src="img\img-tv-samsung-smart.jpg" alt="" width="100%">
        <p class="precio">$ 34.000 <span class="off">5% OFF</span></p>
        <article class="producto">SmartTv Samsung 43</article>
    </div>
</section>
</main>
<footer class="footer">
    <div class="footer-info">
        <i class="fas fa-credit-card"></i>
        <article>Pagá con tarjeta o en efectivo</article>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
            pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="footer-info">        
        <i class="fas fa-truck"></i>
        <article>Envío gratis desde los $ 2.500</article>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
            productos. Es un beneficio de MercadoPuntos.</p>
    </div>
    <div class="footer-info">
        <i class="fas fa-shield-alt"></i>
        <article>Seguridad, de principio a fin</article>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
            porque estás siempre protegido.</p>
    </div>
    <div class="copyright"><p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p></div>
    
</footer>
</body>