<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <title>MercadoLiebre</title>
</head>
<body>
    <header class="container-header">
        <div class="header-logo-input">
            <img class="header-logo" src="/img/logo-mercado-liebre.svg" alt="Logo marca">    
                <div class="header-buscador">
                    <input class="header-barrabusqueda" type="search" name="buscador"/>
                    <i class="fas fa-search"></i>
                </div>
        </div>
            <p class="header-descripcion">Comprá en cuotas y sin tarjeta de crédito</p>
            <div class="icono-menu"><i class="fas fa-bars imenu"></i></div>
    </header>
        <main>
        <hr>
            <form class="container-login">
                <input type="text" name="usuario" id="usuario" placeholder=" Nombre de usuario">
                <input type="password" name="password" id="password" placeholder=" Elegí tu contraseña">
                <button type="submit">Enviar</button>
            </form>
        <hr>
        </main>
<footer class="footer">
    <div class="footer-info">
        <i class="fas fa-credit-card"></i>
        <article>Pagá con tarjeta o en efectivo</article>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
            pago. ¡Y siempre es seguro!</p>
    </div>
    <div class="footer-info">        
        <i class="fas fa-truck"></i>
        <article>Envío gratis desde los $ 2.500</article>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
            productos. Es un beneficio de MercadoPuntos.</p>
    </div>
    <div class="footer-info">
        <i class="fas fa-shield-alt"></i>
        <article>Seguridad, de principio a fin</article>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
            porque estás siempre protegido.</p>
    </div>
    <div class="copyright"><p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p></div>
    
</footer>
</body>